:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* CSS I added for the List component */
.verticalTable {
  border-collapse: collapse;
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  
}

.verticalTable th,
.verticalTable td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.verticalTable tr {
  display: block;
  margin-bottom: 10px;
}

.dataEntry:hover {
  background-color: #dfdfdf; 
  cursor: pointer;
}

.backButton {
  background-color: rgb(218, 50, 50);
  display: flex;
  justify-content: right;
  align-items: right;
  width: 25px;    
  height: 25px;  
}

.backButton:hover {
  background-color: rgb(202, 75, 75);
}

.selectOption {
  border: 1px solid #333;
  padding: 5px;
}

.optionContainer {
  display: flex;
  justify-content: flex-start;
  gap: 8px; 
}

